@model IEnumerable<Hotel_Management_Project.Models.HOTEL>


@{
    ViewBag.Title = "List";
}

<h2>Hotels</h2>

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


    <style>
        import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
        body {
            background: #f9f9f9;
            font-family: "roboto", sans-serif;
        }

        .main-content {
            padding-top: 50px;
            padding-bottom: 30px;
        }

        .text-striked {
            text-decoration: line-through;
        }

        .shadow {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
        }

        .hotel-card .hotel-card_images {
            flex: 2;
        }

            .hotel-card .hotel-card_images .carousel-item img {
                height: 250px;
                object-fit: cover;
            }

        media (min-width: 992px) {
            .hotel-card .hotel-card_images .carousel-item img

        {
            height: 100%;
        }

        }

        .hotel-card .hotel-card_info {
            flex: 3;
        }

        .hotel-card .amnities img {
            max-height: 20px;
        }

        .hotel-card .hotel-checklist {
            list-style-type: none;
        }

        .carousel .carousel-control-prev {
            background: linear-gradient(to right, #333333bb, #33333300);
        }

        .carousel .carousel-control-next {
            background: linear-gradient(to left, #333333bb, #33333300);
        }
    </style>
</head>


<body>



    @foreach (var item in Model)
    {



        <section class="main-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="hotel-card bg-white rounded-lg shadow overflow-hidden d-block d-lg-flex">
                            <div class="hotel-card_images">
                                <div id="bootstrapCarousel" class="carousel slide h-100" data-ride="carousel">
                                   
                                        <div class="carousel-inner h-100">

                                            @foreach (var i in item.Images)
                                            {
                                                <div class="carousel-item active h-100 active ">
                                                    <img src="@i.ImageLink" class="d-block w-100" alt="Hotel Image">
                                                </div>
                                            }
                                            </div> 
                                        <a class="carousel-control-prev" href="#bootstrapCarousel" role="button" data-slide="prev">
                                            
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#bootstrapCarousel" role="button" data-slide="next">
                                            
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                            </div>
                            <div class="hotel-card_info p-4">
                                <div class="d-flex align-items-center mb-2">
                                    <h5 class="mb-0 mr-2">@Html.DisplayFor(modelItem => item.nomHotel)</h5>
                                    <div>
                                        @for (int i = 0; i < item.nbEtoiles; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                    </div>

                                </div>

                                <div class="d-flex justify-content-between align-items-end">
                                    <div class="hotel-card_details">
                                        <div class="text-muted mb-2"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.ville) </div>
                                        <div class="mb-2"><span class="badge bg-warning">@Html.DisplayFor(modelItem => item.Rating)</span> <a href="/Hotels/Details/@item.idHotel" class="text-muted">(56 reviews)</a></div>
                                        <div class="amnities d-flex mb-3">

                                            @Html.DisplayFor(modelItem => item.descriptionHotel)


                                        </div>
                                        <ul class="hotel-checklist pl-0 mb-0">
                                            <li><i class="fa fa-check text-success"></i> wifi</li>
                                            <li><i class="fa fa-check text-success"></i> restauration </li>
                                            <li><i class="fa fa-check text-success"></i> Piscine</li>
                                        </ul>
                                    </div>
                                    <div class="hotel-card_pricing text-center">
                                        <h3>MAD @item.prix</h3>
                                        <div class="d-flex">
                                            @if (@item.prix < 1999)
                                            {
                                            <h6 class="text-striked text-muted mr-2">MAD1,999</h6>
                                            <h6 class="text-success">32% off</h6>
                                            }
                                        </div>
                                        <a href="/HOTELs/Details/@item.idHotel"> <button class="btn btn-primary">  More Information </button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>






